* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 img {
    display: block;
    width: 40px;
    height:40px;
    float:left;
    margin-left: 10px;
}
.nav-link{
    color:rgb(112, 152, 216);
    display: inline-block;
    padding-left: 200px;
    padding-right: 200px;
    font-size: x-large;
    font-weight: bolder;
    font-family: Garamond;
    width: 150px;
}
#home-link{
    color: rgb(112, 152, 216);
}
.navbar-brand{
    padding-right: 30px;
}
input[type=submit].header-search-button, .header-search-button-close {
   
    display: inline-block;
    width: 100px;
    height: 47px;
    padding: 0 12px;
    border: 3px solid rgb(112, 152, 216) ;
    background-color: rgb(112, 152, 216);
}
::-ms-input-placeholder{ /*not working*/
  color: rgb(112, 152, 216);
  opacity: 1;
}
    
